#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  border-bottom:1px solid rgb(99, 99, 99);
  display:flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  border-top:1px solid rgb(99, 99, 99);
}

main {
  padding: 50px 0 25px 0;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
}

.wrapper {
  width:960px;
}

#delete-product-btn {
  margin-left:25px;
}

.product {
  position:relative;
  width:225px;
  height:225px;
  border:1px solid gray;
  border-radius:5px;
  padding:25px;
  margin-bottom:25px;
  margin-right:12.5px;
}

.delete-checkbox {
  position:absolute;
  top:12.5px;
  left:12.5px;
}

.main-label {
  width:100px;
  float:left;
  text-align:left;
}

.input-field {
  margin-bottom:25px;
  display:block;
}

.property-container {
  margin-top:50px;
  display:block;
}

#productType {
  width:100%;
}

input[type=text] {
  background:white;
  border:1px solid gray;
  border-radius:5px;

  height:25px;
}